<div id="container">
	<div id="main" role="main" data-bind="router: {transition: 'entrance', cacheView: true}">
		
	</div>
	<footer>
		<section class="sosumi">
			<div>&copy; 2004-2014 <a href="mailto:&#x70;&#x6A;&#x40;&#x73;&#x6F;&#x6C;&#x69;&#x64;&#x65;&#x78;&#x2E;&#x63;&#x6F;&#x6D;?subject=From Website">solidhex.com</a>. The design is Frankenstein-ed from <a href="http://luiszuno.com/blog/" title="| Luis Zuno| Free web resources" rel="external">Luis Zuno</a> and <a href="http://themes.designchemical.com/zeences/" rel="external" title="Zeences Design | Zeences Design">Zeences Design.</a></div> 
		</section>
	</footer>
</div>