<div id="container">
	<div id="main" role="main" data-bind="router: {transition: 'entrance', cacheView: true}">
		
	</div>
	<footer>
		<section class="sosumi">
			<div>&copy; <a href="mailto:&#x3C;&#x3F;&#x70;&#x68;&#x70;&#x20;&#x65;&#x63;&#x68;&#x6F;&#x20;&#x61;&#x6E;&#x74;&#x69;&#x73;&#x70;&#x61;&#x6D;&#x62;&#x6F;&#x74;&#x28;&#x20;&#x27;&#x70;&#x6A;&#x40;&#x73;&#x6F;&#x6C;&#x69;&#x64;&#x68;&#x65;&#x78;&#x2E;&#x63;&#x6F;&#x6D;&#x27;&#x20;&#x29;&#x3B;&#x20;&#x3F;&#x3E;">solidhex.com</a> is copyright 2004-2014 Patrick Jackson. The design is Frankenstein-ed from <a href="http://luiszuno.com/blog/" title="| Luis Zuno| Free web resources">Luis Zuno</a> and <a href="http://themes.designchemical.com/zeences/" title="Zeences Design | Zeences Design">Zeences Design.</a></div> 
		</section>
	</footer>
</div>